@font-face {
    font-family: 'zabras';
    src: url('fonts/zabars.ttf') format('trueType');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('img/5_background/desert-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 72px;
    letter-spacing: 10px;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

canvas {
    display: block;
    z-index: 1;
}

.startscreen {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.startscreen img {
    height: 60%;
    width: 60%;
}


.outroscreen {
    z-index: 2;
    height: 480px;
    width: 720px;
}

.game {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.game-container {
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.canvas-game, .outroscreen{
    grid-column: 1;
    grid-row: 1;
  }

.d-none {
    display: none;
}

.image-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Smartphones --------------- */
@media only screen and (max-width: 1200px) {
    .headline-game {
        display: none;
    }

}


@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
        }

}
    
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        font-size: 64px;
    }

    .startscreen img {
        width: 50%;
        height: 50%;
    }

}

@media only screen and (max-height: 360px) and (max-width: 740px) {
    canvas {
        height: 100vh;
        width: 100%;
    }

    h1 {
        font-size: 64px;
    }

    .startscreen img {
        width: 50%;
        height: 50%;
    }

    .outroscreen {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
